
<!-- <div *ngIf="isAuthenticated"> -->
  
  <app-dashboardmenu></app-dashboardmenu>
<div><br><br><br><br>
  <div class="row alert alert-success"> 
    Hello {{username}}
  </div>
<div class="row">
<div class="card col-lg-4 col-md-4 col-sm-4 boxbackground" >
  <a routerLink="bookseat">
    <div class="card-body">
      <h1 class="card-title">Book My Seat</h1>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
    </div>
  </a>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1" ></div>
 
  <div class="card col-lg-4 col-md-4 col-sm-4 boxbackground" >
    <a routerLink="managebookings"> 
  
    <div class="card-body">
      <h1 class="card-title">Manage My Bookings</h1>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- <a routerLink="managebookings" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </a>
  </div>

</div>


<!-- <router-outlet></router-outlet> -->
</div>
