<app-dashboardmenu></app-dashboardmenu><br><br><br><br>
<a routerLink="../" class="btn btn-primary" style="float:right">Go back</a>


<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>SL No</th>
            <th>Date</th>
            <th>Seat</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mybookings; let i = index">
                <td scope="row">{{i+1}}</td>
                <td>{{item.dateOfVisit | date:'dd/MM/yyyy'}}</td>
                <td>{{item.seatpath}}</td>
                <td>{{item.location}}</td>
                <td>
                    <div *ngIf="item.eligibleForModification">
                    <a class="btn btn-primary btn-sm" [routerLink]="['../editbooking',item.id]">Edit</a>  
                     <a class="btn btn-danger btn-sm" (click)="deleteBooking(item.id)">Delete</a>
                    </div>
                    <div *ngIf="!item.eligibleForModification">
                        <span *ngIf="item.status">Completed</span>
                        <span *ngIf="!item.status" class="fontbold">Details Awaited</span>
                    </div>   
                 </td>   
            </tr> 
        </tbody>
</table>